/* General Styles for all pages */

body {
  margin: 0;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  padding: 30px;
  background-color: grey;
  color: black;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "consolas", monospace;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 2px;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
a:hover {
  background-color: rgb(26, 211, 140);
}
figcaption {
  font-size: 12px;
  font-family: "consolas", monospace;
}
/* Home Page CSS */

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.images-wrapper {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  
}

.My-pets:hover,
.food-blog:hover,
.biography:hover {
  background-color: rgb(205, 124, 252);
  color: rgb(26, 211, 140);
}

.box-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.food-blog,
.My-pets,.biography {
  background-color: rgb(128, 156, 165);
  display: grid;
  grid-template-rows: auto 1fr;
  border: 5px solid black;
  border-radius: 15px;
  text-align: center;
  font-family: "consolas", monospace;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  min-width:250px;
}

.bio-image,
.my-pets-image,
.food-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.bio-image {
  background-image: url("images/About_Me.jpg");
}

.my-pets-image {
  background-image: url("images/cece.jpeg");
}
.food-image {
  background-image: url("images/food.jpg");
}

.h1 {
  font-size: 10px;
  font-family: "consolas", monospace;
}
/* My Pets Page CSS */
.pet-name {
  font-size: 40px;
  background-color: grey;
  text-align: center;
  font-weight: bold;
  font-family: "consolas", monospace;
}

.pet {
  display: flex;
  border-style: solid;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
}
.pet-image {
  width: 300px;
  height: auto;
}
.pet-text {
  font-size: 16px;
  text-align: center;
  font-family: "consolas", monospace;
  margin: 20px;
  flex-grow: 1;
}
.pet-video {
  /* might need to change from px to % */
  width: 20%;
  height: auto;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 15px;
}

/* Food Blog Page CSS */

.food-main-content {
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 40px 0;
}

th {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(8, 8, 8);
  border-radius: 15px;
  background-color: rgb(54, 54, 54);
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 4px solid black;
  padding: 10px;
  word-break: break-word; /*just in case text is too long*/
  color: white;
}

td {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(15, 15, 15);
  border-radius: 5px;
  background-color: grey;
  padding: 10px;
  font-family: fantasy;
  font-size: 16px;
  word-break: break-word; /*just in case text is too long*/
}

/* Biography CSS */
/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #333;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: #333;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: red;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid orangered;
}

.biography-imgages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20%;
  height: 20%;
}
