body {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: auto auto auto;
  background-color: rgb(128, 156, 165);
}

.header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(168, 35, 245);
  font-family: "consolas", monospace;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}

.sidebar-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
  border-color: rgb(128, 156, 165);
  background-color: rgb(75, 244, 210);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "consolas", monospace;
  font-size: 18px;
  padding: 15px;
}
.sidebar-container li {
  list-style-type: none;
  margin: 10px;
}
.main-content {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: rgb(168, 35, 245);
  font-family: "consolas", monospace;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
}

.three-boxes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  padding: 15px;
  border-radius: 15px;
}

.My-pets,
.food-blog,
.biography:hover {
  background-color: rgb(168, 35, 245);
  color: white;
}
.My-pets,
.food-blog,
.biography {
  display: block;
  background-color: rgb(128, 156, 165);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-family: "consolas", monospace;
  font-size: 18px;
  cursor: pointer;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  padding: 15px;
}
